
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    @ViewBag.Greeting World (from the view)
    <p>We're going to have an exciting party. <br />
    (To do: sell it better. Add pictures or something.)
    </p>
    <a asp-action="RsvpForm">RSVP now</a>
</body>
</html>
